name: Rust Cross-Platform Build

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Build for Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt install patchelf libegl1-mesa-dev libxrandr-dev
          mkdir artifacts
          # feature=default
          cargo build --release --locked
          patchelf --set-rpath '$ORIGIN' target/release/libultralightui.so
          cp target/release/libultralightui.so artifacts/libultralightui.so
          # feature=native
          cargo build --release --locked --no-default-features --features native
          patchelf --set-rpath '$ORIGIN' target/release/libultralightui.so
          cp target/release/libultralightui.so artifacts/libultralightui.native.so
          # feature=gl-headless
          cargo build --release --locked --no-default-features --features gl-headless
          patchelf --set-rpath '$ORIGIN' target/release/libultralightui.so
          cp target/release/libultralightui.so artifacts/libultralightui.gl-headless.so
          # feature=surfman
          cargo build --release --locked --no-default-features --features surfman
          patchelf --set-rpath '$ORIGIN' target/release/libultralightui.so
          cp target/release/libultralightui.so artifacts/libultralightui.surfman.so

      - name: Build for Windows
        if: matrix.os == 'windows-latest'
        run: |
          mkdir artifacts
          # feature=default
          cargo build --release --locked
          cp target/release/ultralightui.dll artifacts/ultralightui.dll
          # feature=native
          cargo build --release --locked --no-default-features --features native
          cp target/release/ultralightui.dll artifacts/ultralightui.native.dll
          # feature=gl-headless
          cargo build --release --locked --no-default-features --features gl-headless
          cp target/release/ultralightui.dll artifacts/ultralightui.gl-headless.dll
          # feature=surfman
          cargo build --release --locked --no-default-features --features surfman
          cp target/release/ultralightui.dll artifacts/ultralightui.surfman.dll

      - name: Build for MacOS
        if: matrix.os == 'macos-latest'
        run: |
          mkdir artifacts
          # feature=gl-headless
          cargo build --release --locked --no-default-features --features gl-headless
          cp target/release/libultralightui.dylib artifacts/libultralightui.gl-headless.dylib
          # feature=surfman
          cargo build --release --locked --no-default-features --features surfman
          cp target/release/libultralightui.dylib artifacts/libultralightui.surfman.dylib

      - name: Upload for Linux
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ultralightui-${{ matrix.os }}
          path: artifacts/

      - name: Upload for Windows
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ultralightui-${{ matrix.os }}
          path: artifacts/

      - name: Upload for MacOS
        if: matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ultralightui-${{ matrix.os }}
          path: artifacts/
